body{
    margin:0
    font-family 'Open Sans', sans-serif
}
body a{
    transition 0.5s all ease
    -webkit-transition 0.5s all ease
    -moz-transition 0.5s all ease
    -o-transition 0.5s all ease
    -ms-transition 0.5s all ease
}
a{
    color #000
}
h1,h2,h3,h4,h5,h6{
    margin:0
}
p{
    margin:0
}
ul,label{
    margin:0
    padding:0
}
body a:hover{
    text-decoration:none
}
.banner{
    background-size cover
    position:relative
}
/*--Top navigationHide default border to remove 1px line.--*/
/*-- Sidebar--*/

/* Hide for mobile, show later */
.sidebar {
    display none
}
span.menu-icon {
    display none
}
@media (min-width 768px) {
    .sidebar {
        position fixed
        top 0
        bottom 0
        left 0
        z-index 1000
        display block
        padding 20px
        overflow-x hidden
        overflow-y auto /* Scrollable contents if viewport is shorter than content. */
        background-color #f5f5f5
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right -21px /* 20px padding + 1px border */
    margin-bottom 20px
    margin-left -20px
}
.nav-sidebar > li > a {
    padding-right 20px
    padding-left 20px
    border-top 2px solid #fff
    border-bottom 2px solid #fff
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
    border-top 2px solid #99abd5
    border-bottom 2px solid #99abd5
}
.nav > li > a:hover, .nav > li > a:focus {
    border-top 2px solid #99abd5
    border-bottom 2px solid #99abd5
    background-color transparent
}

/*
 * Main content
 */

@media (min-width 768px){
    .main {
        padding-right 40px
        padding-left 40px
    }
}

.main .page-header {
    margin-top 0
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom 30px
    text-align center
}
.placeholders h4 {
    margin-bottom 0
}
.placeholder {
    margin-bottom 20px
}
.placeholder img {
    display inline-block
    border-radius 50%
}
/*-- //Placeholder dashboard ideas---*/
.main-text {
    padding 3em
    border-left 1px solid rgb(234, 227, 227)
}
ul.nav.nav-sidebar {
    margin 4em 0 0
}
ul.nav.nav-sidebar  li {
    margin-bottom .5em
}
.logo {
    margin 0 auto
    position relative
    width 90%
}
.logo a {
    display block
}
.logo a img {
    vertical-align middle
    width 100%
}
h1 a.navbar-brand {
    float none
    height initial
    padding 0
    font-family 'Marvel', sans-serif
    font-size 1.8em
    color:#99abd5
}
ul.nav.nav-sidebar li a {
    padding 0.6em 0
    color #d95459
    font-size 19px
    font-weight 600
    font-family 'Marvel', sans-serif
}
.navbar-fixed-top {
    border 0
}
.navbar-brand  img {
    display inline-block
}
.sidebar {
    padding 3.5em 0 2em
    text-align center
    background-color #fff
}
.sidebar p {
    color #99abd5
    font-size 13px
    margin 0 auto
    text-align center
    width 82%
}
.sidebar p a {
    color #99abd5
    font-size 13px
}
.sidebar p a:hover{
    color #d95459
    text-decoration underline
}
.jumbotron.banner-text {
    background-color rgba(153, 171, 213, 0.73) !important
    margin 0
    padding 3em
    width 45%
    text-align:center
    position absolute
    top 25%
    left 26%
}
.banner-text h2{
    font-size 4em
    color #FFF
    font-family 'Marvel', sans-serif
}
.banner-text p {
    margin 0.5em 0 1em
    font-size 16px
    color:#fff
}
a.btn.btn-primary {
    background-color rgb(239, 113, 122)
    border-color rgb(239, 113, 122)
}
a.btn.btn-primary:hover {
    background-color #d95459
    border-color #d95459
}
.social-icons {
    display inline-block
    margin 4em 0
}
.social-icons ul li {
    display inline-block
    margin-right 5px
}
.social-icons a{
    display block
    width 40px
    height 41px
    transition none
}
.main {
    padding 0
}
.welcome {
    padding 0
}
h3 {
    color #d95459
    font-size 3em
    margin-bottom 0.7em
    text-align center
    font-family 'Marvel', sans-serif
}
.welcome h4 {
    font-size 14px
    color #99abd5
    margin 0 0 .5em
    line-height 1.6em
    font-weight 600
}
.welcome p {
    color #616156
    font-size 13px
    line-height 1.8em
}
.welcome-left  img {
    width 100%
}
.welcome-left {
    padding-right 5em
}
.sub-header {
    padding-bottom 10px
    border-bottom 1px solid #eee
}
.offer-grids-info img {
    width 100%
}
.offer-grids-info {
    padding 1em
    position relative
}
.offer-text {
    position absolute
    top 30%
    left 30%
}
.offer-text {
    display none
    position absolute
    top 4%
    left 2%
    background-color rgba(255, 255, 255, 0.67)
    width 96%
    height 92%
}
.offer-text h5 {
    font-size 3em
    color #d95459
    margin 24% 31%
    display inline-block
}
.offer-grids-info:hover div.offer-text{
    display:block
}
.offer-grids {
    margin-top 5em
}
.menu {
    background-color:#99ABD5
}
ul {
    padding 0
    list-style none
}
.menu > li > a {
    padding 13px 5px
    width 100%
    text-indent 1.2em
    display block
    position relative
    color #fff
    font-size 15px
    text-decoration none
    border-bottom 1px dotted #fff

}
span.icon {
    background url(../images/icon1.png)no-repeat 0px 0px
    display block
    position absolute
    width 20px
    height 14px
    top 30%
    right 3%
    transition 0.5s all ease
    -webkit-transition 0.5s all ease
    -moz-transition 0.5s all ease
    -o-transition 0.5s all ease
    -ms-transition 0.5s all ease
}
.menu li a.active span {
    transform rotatex(180deg)
}
.menu ul li a {
    background #fff
    line-height 1.8em
    display block
    position relative
    font-size 13px
    font-weight 400
    color #3a3b36
    text-decoration none
    padding 12px 30px
}
.feature-left h4 {
    font-size 14px
    color #99abd5
    margin 0 0 .5em
    font-weight 600
}
.feature-left p {
    color #616156
    font-size 13px
    line-height 1.6em
}
.ftrs-left-text {
    margin 2em 0
}
.features {
    margin-top 4em
}
/*---about---*/
.about-main{
    border-left 1px solid rgb(208, 204, 204)
    padding 2em 2em 4em
}
.about-grids img {
    width 91%
}
.about-grids h4 {
    font-size 15px
    color #99abd5
    margin 0 0 .5em
    line-height 1.6em
    font-weight 500
}
.about-grids{
    margin 0 auto
    float none
}
.about-grids p {
    color #616156
    font-size 16px
    line-height 1.8em
    margin-bottom 15px
}
.about-grids ul li {
    padding 1em 0
    border-bottom 1px dotted rgb(207, 223, 234)
}
.about-grids ul li a {
    font-size 15px
    color rgba(137, 133, 128, 0.99)
}
.about-grids ul li a:hover{
    color:#d95459
}
.about-grids ul li:nth-child(1) {
    padding-top 0
}
.about-team-grids img {
    width 100%
}
.about-team-grids {
    position relative
    padding 2em
}
.about-team {
    padding 7em 0 3em 0
    position relative
}
.team-text {
    text-align left
    background #fff
    padding 1em 1em 2em 1.5em
    border 3px solid #99abd5
}
.team {
    margin 1em 0 0
}
.team-text h5 {
    color #d95459
    margin 0 0 6px 0
    font-size 3em
    font-family 'Marvel', sans-serif
}
.team-text h6 {
    color #d95459
    margin 0 0 0 0
    font-size 1.2em
    font-weight 600
}
.about {
    margin-bottom 5em
}
.about-slid {
    position:relative
}
.about-slid img{
    width 100%
}
.abt-slid-text {
    position absolute
    top 32%
    left 31%
}
.abt-slid-text h2 {
    font-size 6em
    color #FFF
    font-family 'Marvel', sans-serif
}
.abt-slid-text p {
    margin 0.5em 0 0
    font-size 22px
    color #fff
}
/*-----services-------*/
.srvs-thumbnail.thumbnail {
    border none
    padding 0
}
.srvs-thumbnail.thumbnail a img {
    width 100%
}
.srvs-caption.caption {
    padding 1em 1.5em
    background-color #b8c9f1
}
.srvs-caption h3 {
    color #000
    font-weight 400
    margin 1em 0
    font-size 22px
}
.srvs-caption h4 {
    font-size 22px
    margin-bottom .2em
    font-family 'Marvel', sans-serif
}
.srvs-caption h4 a{
    color:#d95459
    font-weight 800
}
.srvs-caption h4 a:hover {
    color #6D8CD5
}
.srvs-caption p {
    color #616156
    font-size 13px
}
.srvs-row.row {
    margin 4em 0 3em
}
.srvs-thumbnail.thumbnail:hover div.srvs-caption {
    background-color:#EDEFF4
}
.resume {
    margin-right 2em
    padding 2em
}
.work-grids {
    margin-top 3em
}
.resume span {
    font-size 1.5em
    background-color #99abd5
    width 44px
    height 44px
    display inline-block
    border-radius 50px
    text-align center
    -webkit-border-radius 50px
    -moz-border-radius 50px
    -o-border-radius 50px
    -ms-border-radius 50px
    color #fff
    line-height 2em
    margin 1.5em 0
    display block
}
.resume h4 {
    color #d95459
    font-size 3.5em
    margin 1em 0 0
    font-family 'Marvel', sans-serif
}
.resume h5 {
    color #99ABD5
    font-size 17px
    margin 2em 0 0.5em
    font-weight 400
}
.resume p {
    font-size 13px
    margin-bottom 3em
    color #616156
    line-height 1.8em
}
.resume-grid:nth-child(2) {
    border-right 1px solid #efe7e8
    border-left 1px solid #efe7e8
    position relative
}
.resume-grid:hover {
    background-color #b8c9f1
}
.resume-grid:hover div.resume img {
    transform rotatey(360deg)
    transition .5s all
}
.resume-grid:hover div.resume span {
    background-color #fff
    color #B8C9F1
}
.resume-grid:hover div.resume h5 {
    color #FFFFFF
}
/*--//services-page--*/
/*--testimonial--*/
.testi-info {
    background-color #99abd5
    padding 3em
    margin 5em 0
    position relative
}
.testi-left {
    position absolute
    top -16%
}
.testi-left img {
    width 100%
}
.testi-left img.img-circle {
    border-radius 50%
    -webkit-border-radius 50%
    -moz-border-radius 50%
    -o-border-radius 50px
    -ms-border-radius 50%
}
.testi-right {
    float right
    width 80%
}
.testi-info p {
    font-size 14px
    margin 0 0 1em
    color #fff
    letter-spacing 0.5px
    line-height 1.6em
}
.testi-info span {
    font-size 2em
}
.testi-info a {
    font-size 2.2em
    color rgb(254, 254, 254)
    font-family 'Marvel', sans-serif
}
.testi-info a:hover{
    color rgb(192, 58, 58)
}
.testi-left.testi-lft2 {
    right 3%
}
.testi-right.testi-rt2 {
    float left
}
/*--//testimonial--*/
/*--gallery-page--*/
.galry-grids img {
    width 100%
}
.galry-grids {
    padding:0em
}
.fancybox-skin {
    background-color #99abd5 !important
}
.fancybox-nav {
    width 10% !important
}
/*----- Strip -----*/
.b-link-stripe{
    position:relative
    display:block
    vertical-align:top
    font-weight 300
    overflow:hidden
}
.b-link-stripe .b-wrapper{
    position:absolute
    width:100%
    height:100%
    top:0
    left:0
    text-align:center
    overflow:hidden
}
.b-link-stripe .b-line{
    position:absolute
    top:0
    bottom:0
    width:20%
    background:rgba(15, 207, 140, 0.9)
    transition:all 0.5s linear
    -moz-transition:all 0.5s linear
    -ms-transition:all 0.5s linear
    -o-transition:all 0.5s linear
    -webkit-transition:all 0.5s linear
    opacity:0
    visibility:hidden /* lt-ie9 */
}
img.img-responsive.glry-img {
    width 100%
}
/*------Animation effects------*/
.b-animate-go{
    text-decoration:none
}
.b-animate{
    transition all 0.5s
    -moz-transition all 0.5s
    -ms-transition all 0.5s
    -o-transition all 0.5s
    -webkit-transition all 0.5s
    visibility hidden
}
.b-animate img{
    display -webkit-inline-box
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
    visibility:visible
}
.b-from-left{
    position absolute
    top -100%
    left 41%
}
.b-animate-go:hover .b-from-left{
    top 41%
}
.b-wrapper:hover {
    background rgba(95, 158, 160, 0.68)
    transition 0.5s all
    -webkit-transition 0.5s all
    -o-transition 0.5s all
    -moz-transition 0.5s all
    -ms-transition 0.5s all
}
/*--//gallery-page--*/
/*--contact-page--*/
.map {
    margin 0 0 4em
}
.map iframe {
    width 100%
    height 340px
}
.contact-infom p {
    color #858d94
    margin 0 0 1.5em 0
    text-align left
    font-size 14px
    letter-spacing 1px
}
.address p {
    color #616156
    margin 0 0 .5em 0
    text-align left
    font-size 14px
}
p.cnt-p {
    color #99abd5
    margin-bottom 1.5em
}
.address a {
    color #d95459
    margin 0 0 .5em 0
    text-align left
    font-size 14px
}
.address a:hover {
    color:#858d94
}
.contact-form input[type="text"] {
    display inline-block
    background none
    border 1px solid #A3A1A1
    width 32.3%
    margin 0 0 1.5em 0
    outline none
    font-size 14px
    color #747577
    padding 10px 15px
}

.contact-form #asunto{
    width: 100%;
}
.contact-form input[type="email"] {
    display inline-block
    background none
    border 1px solid #A3A1A1
    width 32.5%
    margin 0 0.5em 1em 0.5em
    outline none
    font-size 14px
    color #747577
    padding 10px 15px
}
.contact-form textarea {
    background none
    border 1px solid #A3A1A1
    width 100%
    display block
    height 150px
    outline none
    font-size 14px
    color #747577
    resize none
    padding 10px 15px
}
.contact-form .button{
    background #ef717a
    border 1px solid #ef717a
    padding 1em
    margin-top 20px
    font-size 14px
    color #fff
    font-weight 400
    letter-spacing 1px
    outline 0
    transition .5s all ease
    -webkit-transition .5s all ease
    -moz-transition .5s all ease
    -o-transition .5s all ease
    -ms-transition .5s all ease
    float right
}
.contact-form .button:hover{
    background-color #d95459
}
.contact-form .g-recaptcha{
    float left
    margin-top 10px
}

.contact-grids h3 {
    text-align left
}
/*--//contact-page--*/
.footer{
    display:none
}

/*---- responsive-design -----*/
@media(max-width:1440px){
    .social-icons {
        margin 1em 0
    }
    .sidebar {
        padding 4em 0 1.5em
    }
    ul.nav.nav-sidebar {
        margin 3em 0 0
    }
    .contact-form input[type="text"] {
        width 32.2%
    }
}
@media(max-width:1366px){
    ul.nav.nav-sidebar li a {
        padding 0.5em 0
        font-size 18px
    }
    ul.nav.nav-sidebar {
        margin 4em 0 0
    }
    .sidebar {
        padding 2.5em 0 1.5em
    }
    .social-icons {
        margin 3em 0
    }
    .jumbotron.banner-text {
        top 22%
    }
    .welcome-left {
        padding-right 1em
    }
    .team-text h5 {
        font-size 2.7em
    }
    .about-main {
        padding 3em 2em 3em
    }
    .resume-grid {
        padding-left 0
    }
    .contact-form input[type="text"] {
        width 32.1%
    }
}
@media(max-width:1280px){
    .banner {
        background-position 0px -10px
    }
    .about-grids img {
        width 100%
    }
    .about-grids h4 {
        font-size 14px
    }
    .about {
        margin-bottom 4em
    }
    .abt-slid-text {
        left 18%
    }
    .team-text h5 {
        font-size 2.4em
    }
    .team {
        margin 4em 0 0
    }
    .offer-grids {
        margin-top 3em
    }
    .srvs-row.row {
        margin 3em 0 3em
    }
    .map {
        margin 4em 0 3em
    }
    .contact-form input[type="email"] {
        width 32.3%
    }
    p.cnt-p {
        margin-bottom 1em
    }
    .contact-form input[type="submit"] {
        margin-top 1em
    }
}
@media(max-width:1024px){
    .sidebar {
        padding 3em 0 1.5em
    }
    ul.nav.nav-sidebar {
        margin 3em 0 0
    }
    .social-icons ul li {
        margin-right 1px
    }
    .social-icons a {
        background url(../images/iconsprite.png)no-repeat 0px 0px
        display block
        width 31px
        height 31px
        transition none
        background-size 736%
    }
    .social-icons a:hover {
        background url(../images/iconsprite.png)no-repeat -37px 0px
        background-size 736%
    }
    .social-icons a.fb {
        background url(../images/iconsprite.png)no-repeat 0px -36px
        background-size 736%
    }
    .social-icons a.fb:hover {
        background-position -37px -36px
        background-size 736%
    }
    .social-icons a.be {
        background url(../images/iconsprite.png)no-repeat 0px -73px
        background-size 736%
    }
    .social-icons a.be:hover {
        background url(../images/iconsprite.png)no-repeat -37px -73px
        background-size 736%
    }
    .social-icons a.gg {
        background url(../images/iconsprite.png)no-repeat 0px -109px
        background-size 736%
    }
    .social-icons a.gg:hover {
        background url(../images/iconsprite.png)no-repeat -37px -109px
        background-size 736%
    }
    .jumbotron.banner-text {
        top 24%
        width 57%
        left 23%
        padding 2em
    }
    .about-main {
        padding 2em 2em 3em
    }
    .main-text {
        padding 2.5em 2em
    }
    h3 {
        font-size 2.4em
        margin-bottom 0.6em
    }
    .welcome h4 {
        font-size 13px
    }
    .offer-text h5 {
        font-size 2.5em
    }
    .offer-grids-info {
        padding 0.7em
    }
    .feature-left {
        padding-left 0
    }
    .ftrs-left-text {
        margin 1em 0
    }
    .about-grids:nth-child(3) {
        padding 0
    }
    .about-grids:nth-child(4) {
        padding-left 3em
    }
    .about-grids ul li a {
        font-size 14px
    }
    .about-slid {
        min-height 350px
    }
    .team {
        margin 2em 0 0
    }
    .about-team-grids {
        padding 1em
    }
    .team-text h5 {
        font-size 2em
    }
    .team-text {
        padding 1em
    }
    .team-text h6 {
        font-size 1em
    }
    .row-grids {
        padding 0.5em !important
    }
    .srvs-thumbnail.thumbnail {
        margin-bottom 0
    }
    .srvs-caption.caption {
        padding 1em
    }
    .srvs-caption h4 {
        font-size 20px
    }
    .srvs-row.row {
        margin 2em 0
    }
    .work-grids {
        margin-top 2em
    }
    .resume {
        margin-right 0em
        padding 0 0 1.5em 2em
    }
    .resume p {
        margin-bottom 1.5em
    }
    .resume h4 {
        font-size 3em
        margin 0.8em 0 0
    }
    .resume h5 {
        font-size 15px
        margin 1.5em 0 0.5em
    }
    .gallery-info {
        margin 3em 0
    }
    .testi-info p {
        font-size 13px
        letter-spacing 0
    }
    .testi-info {
        padding 1em
        margin 3em 0
    }
    .testi-left {
        left 1%
        top -10%
        width 19%
    }
    .testi-info a {
        font-size 2em
    }
    .testi-left.testi-lft2 {
        right 1%
        left initial
    }
    .map {
        margin 2.5em 0 2em
    }
    .map iframe {
        height 280px
    }
    .address {
        padding 0
    }
    .contact-form input[type="text"] {
        width 32.3%
        font-size 13px
        padding 8px 12px
    }
    .contact-form input[type="email"] {
        font-size 13px
        padding 8px 12px
        width 31%
    }
    .contact-form textarea {
        height 135px
        font-size 13px
        padding 8px 12px
    }
    .contact-form input[type="submit"] {
        padding .5em 0
        font-size 13px
        letter-spacing 0
    }
}
@media(max-width:768px){
    .about-main {
        padding 2em 1.5em 2em
    }
    .banner-text h2 {
        font-size 3.5em
    }
    .banner-text p {
        font-size 14px
    }
    .btn {
        font-size 13px
    }
    .jumbotron.banner-text {
        width 68%
        left 18%
        padding 1.5em 1em
    }
    .main-text {
        padding 1.5em 1em
    }
    h3 {
        font-size 2.3em
    }
    .welcome-left {
        padding 0
    }
    .welcome-right {
        padding 0
        margin-top 1em
    }
    .offer-grids {
        margin-top 2em
    }
    .offer-grids-info {
        float left
        width 33.33%
        padding 0.5em
    }
    .offer-grids-info.off-grid2 {
        float left
        width 50%
    }
    .offer-text h5 {
        font-size 1.8em
    }
    .features {
        margin-top 1em
    }
    .col-md-4.about-grids {
        float left
        width:50%
    }
    .about-grids:nth-child(4) {
        padding 0
        width 100%
        margin-top 1em
    }
    .about-slid {
        min-height 250px
    }
    .abt-slid-text h2 {
        font-size 4em
    }
    .abt-slid-text p {
        font-size 17px
    }
    .abt-slid-text {
        left 7%
        top 29%
        text-align center
    }
    .about-team-grids {
        float left
        width 25%
    }
    .about-team-grids {
        padding 0.5em
    }
    .team-text h5 {
        font-size 1.3em
        font-weight 900
    }
    .team-text h6 {
        font-weight 500
    }
    .resume-grid {
        float left
        width 50%
    }
    .resume-grid {
        float left
        width 33.33%
    }
    .resume {
        padding 0 0 1em 1em
    }
    .resume h4 {
        font-size 2.1em
        margin 0.8em 0 0
    }
    .resume span {
        font-size 1.2em
        width 31px
        height 31px
        line-height 1.8em
    }
    .resume h5 {
        font-size 14px
        margin 1em 0 0.5em
    }
    .galry-grids {
        float left
        width 50%
    }
    .galry-grids:nth-child(3){
        float:none
        width:100%
    }
    .galry-grids:nth-child(3) a.b-link-stripe.b-animate-go.fancybox {
        float left
        width 33.33%
    }
    .contact-form {
        padding 0
        margin-top 1.5em
    }
}
@media(max-width:736px){
    .sidebar {
        display block
        float left
        width 25%
        position:fixed
        padding 2em 0 1em
    }
    .main {
        float right
        width 75%
    }
    .banner-text h2 {
        font-size 3em
    }
    ul.nav.nav-sidebar {
        margin 2em 0 0
    }
    ul.nav.nav-sidebar li a {
        padding 0.2em 0
        font-size 15px
    }
    .social-icons {
        margin 0 0 1em 0
    }
    .logo {
        width 48%
    }
}
@media(max-width:640px) {
    .main {
        width 70%
    }

    .sidebar {
        width 30%
    }

    .sidebar p {
        width 87%
    }

    .sidebar p a {
        font-size 12px
    }

    ul.nav.nav-sidebar li a {
        padding 0.3em 0
        font-size 16px
    }

    ul.nav.nav-sidebar {
        margin 3em 0 0
    }

    .social-icons {
        margin 2em 0
    }

    .banner-text h2 {
        font-size 2.8em
    }

    .banner-text p {
        font-size 13px
    }

    .jumbotron.banner-text {
        width 72%
        left 14%
        padding 1em
        top 20%
    }

    .banner {
        min-height 315px
        background-position 0px 1px
    }

    h3 {
        font-size 2em
    }

    .welcome-right {
        margin-top 0.8em
    }

    .menu li a {
        font-size 14px
    }

    .offer-text h5 {
        font-size 1.3em
        font-weight 600
    }

    .about-main {
        padding 1em 1em 1.5em
    }

    .about-grids ul li a {
        display block
    }

    .about {
        margin-bottom 2em
    }

    .about-slid {
        min-height 200px
    }

    .abt-slid-text h2 {
        font-size 3em
    }

    .abt-slid-text p {
        font-size 13px
    }

    .abt-slid-text {
        left 12%
        top 24%
    }

    .team {
        margin 1em 0 0
    }

    .about-team-grids {
        padding 1em
        width 50%
    }

    .team-text h5 {
        font-size 1.6em
    }

    .row-grids {
        float left
        width 50%
    }

    .srvs-caption h4 {
        font-size 19px
    }

    .resume-grid {
        padding-right .5em
    }

    .resume img {
        width 50%
    }

    .gallery-info {
        margin 1.5em 0
    }

    .galry-grids:nth-child(3) a.b-link-stripe.b-animate-go.fancybox.glry-img3 {
        width 31.5%
    }

    .galry-grids:nth-child(3) a.b-link-stripe.b-animate-go.fancybox.glry-img1 {
        width 30% !important
    }

    .galry-grids:nth-child(3) a.b-link-stripe.b-animate-go.fancybox.glry-img2 {
        width 38%
    }

    .testi-info a {
        font-size 1.8em
    }

    .contact-form input[type="text"] {
        width 100%
    }

    .contact-form input[type="email"] {
        margin 0 0 1em
        width 100%
    }

    .contact-form input[type="submit"] {
        width 22%
    }

    .map {
        margin 1.5em 0 1em
    }
}

@media(max-width:480px){
    .sidebar {
        width 32%
    }
    .banner-text h2 {
        font-size 2em
    }
    .btn {
        font-size 12px
    }
    .jumbotron.banner-text {
        width 84%
        left 9%
        padding 0.5em
        background-color rgba(153, 171, 213, 0.88) !important
    }
    .main {
        width 68%
    }
    .feature-left {
        padding 0 !important
    }
    .offer-grids {
        margin-top 1em
    }
    .offer-grids-info {
        width 100%
    }
    .offer-text {
        top 3%
        height 94%
    }
    .offer-grids-info.off-grid2 {
        width 100%
    }
    .offer-text h5 {
        font-size 2em
        margin 27% 32%
    }
    h3 {
        font-size 1.8em
    }
    .menu ul li a {
        padding 7px 10px
    }
    .col-md-4.about-grids {
        float none
        width 100%
        padding 0
    }
    .about-grids h4 {
        margin-top 0.5em
    }
    .abt-slid-text h2 {
        font-size 2em
    }
    .abt-slid-text {
        left 0%
    }
    .about-slid {
        min-height 150px
    }
    .about-team-grids {
        padding 0.4em
    }
    .team-text {
        padding 0.5em 1em
        border 2px solid #99abd5
    }
    .row-grids {
        width 100%
    }
    .resume-grid {
        width 100%
    }
    .resume-grid:nth-child(2) {
        border none
        margin 0.5em 0
    }
    .resume img {
        width 26%
    }
    .galry-grids:nth-child(3) a.b-link-stripe.b-animate-go.fancybox {
        width 100% !important
    }
    .galry-grids:nth-child(3) a.b-link-stripe.b-animate-go.fancybox.glry-img1{
        width 100% !important
    }
    .testi-left {
        top 1%
    }
    .testi-info p {
        font-size 12px
        margin 0 0 0.5em
    }
    .testi-info a {
        font-size 1.6em
    }
    .testi-info {
        margin 1em 0
    }
    .map {
        margin 0 0 0.5em
    }
    .map iframe {
        height 180px
    }
    p.cnt-p {
        margin-bottom 0.5em
    }
    .address p {
        font-size 13px
    }
    .contact-form input[type="submit"] {
        width 29%
    }
}
@media(max-width:320px){

    .about-main {
        padding 1em 1em 0em
    }
    .sidebar p {
        width 100%
        font-size 11px
    }
    .sidebar p a {
        font-size 11px
    }
    .sidebar {
        padding 1.5em 1em 0
        width 100%
        position initial
    }
    .main {
        width 100%
    }
    .feature-right {
        padding 0
    }
    .logo {
        width 37%
        float left
    }
    .top-nav {
        width 12.5%
        float right
    }
    .top-nav span.menu-icon {
        display block
        position relative
        cursor pointer
        margin 0 0 1.5em 0
    }
    .top-nav  .nav1{
        display:none
        z-index 999
        position absolute
        width 100%
        left 0
        background-color rgba(153, 171, 213, 1)
    }
    ul.nav.nav-sidebar {
        margin 0
    }
    ul.nav.nav-sidebar li a {
        padding 0.5em 0
        font-size 16px
        border none
        color #fff
        border-top 2px solid transparent
        border-bottom 2px solid transparent
    }
    ul.nav.nav-sidebar li a:hover,ul.nav.nav-sidebar li.active {
        border-top 2px solid rgba(203, 114, 121, 0.61)
        border-bottom 2px solid rgba(203, 114, 121, 0.61)
    }
    .sidebar p {
        display none
    }
    .team-text h5 {
        font-size 1.4em
    }
    .footer{
        display:block
        margin 2em 0
    }
    .footer p {
        color #99abd5
        font-size 13px
        margin 0 auto
        text-align center
    }
    .footer p a {
        color #99abd5
        font-size 13px
    }
    .footer p a:hover {
        color #d95459
        text-decoration underline
    }
    .social-icons {
        margin 1em 0
    }
}

/* Items
=================================== */
.item {
    position relative
    margin 0 0 30px
}
.item:before, .item:after {
    content " "
    /* 1 */
    display table
    /* 2 */
}
.item:after {
    clear both
}

.item-thumb img {
    width 100%
}
.item-thumb img, .item-thumb a {
    line-height 0
    display block
}

.item-content {
    background-color #FFF
    padding 23px 25px 50px
    border 1px solid #EBEBEB
    border-top none
    position relative
}
.entry .item-content {
    padding-bottom 25px
}

.item-title {
    font-size 20px
    line-height 1.2
}
.item-title a {
    color #373737
}
.item-title a:hover {
    color #59c54b
}

.item-address {
    font-weight bold
}

.item-attributes {
    list-style none
    padding 0
    margin 8px 0
}
.item-attributes li {
    display inline-block
    margin-right 5px
}

.item-meta {
    margin -8px 0 10px
}

.item-sub {
    font-size 12px
}

.entry-categories > a,
.item-tag,
.entry-tag {
    display inline-block
    color #FFF
    background-color #59c54b
    padding 4px 8px
    margin 0 3px 3px 0
    text-transform uppercase
    font-size 11px
    line-height normal
}
.entry-categories > a:hover,
.item-tag:hover,
.entry-tag:hover {
    background-color #2A7200
    color #FFF
}

.item-more {
    position absolute
    bottom 32px
    right 0
    padding 4px 35px 4px 25px
    font-size 16px
    font-weight bold
    background-color #59c54b
    color #FFF
    text-shadow -1px 0 0 rgba(0, 0, 0, 0.13)
    height 32px
}
.item-more:hover, .item-more:focus, .item-more:active {
    background-color #2A7200
    color #FFF
}
.item-more:before {
    content ""
    border 32px solid transparent
    border-left-width 18px
    border-right-width 0
    border-bottom-color #59c54b
    position absolute
    left -18px
    top -32px
    height 100%
    transition border-color 0.18s ease
}
.item-more:hover:before {
    border-bottom-color #2A7200
}
.item-more .fa {
    font-size 13px
    position relative
    top -1px
    left -2px
    opacity 0.8
    text-shadow none
}

.item-media {
    zoom 1
    display table
}
.item-media .item-thumb {
    display table-cell
    margin 0
    vertical-align top
    width 30%
}
.item-media .item-thumb img {
    width 100%
}
.item-media .item-content {
    vertical-align top
    display table-cell
    zoom 1
    border-top 1px solid #EBEBEB
    border-left none
    color #373737
}
.item-media .item-excerpt {
    color #373737
}

.item-list {
    margin-bottom -15px
}

@media (min-width 768px) {
    .item-list div[class^="col-md-12"] .item-media .item-thumb {
        width 35%
    }
}
.property-price sup {
    top -4px
    right -3px
    font-size 11px
}


@media (max-width 1199px) {
    .item-media .item-thumb {
        width 40%
    }
    .item-media .item-excerpt {
        max-height 38px
    }
}
@media (max-width 991px) {
    .item-media {
        display block
    }
    .item-media .item-thumb {
        display block
        width 100%
    }
    .item-media .item-excerpt {
        max-height 100%
    }

    .item-list div[class^="col-md-12"] .item-media .item-thumb {
        width 100%
    }
}


/* General Form Styling
=================================== */
label {
    display block
    margin 0 0 2px
    font-weight normal
}

input,
textarea {
    display inline-block
    font-size inherit
    width 100%
    max-width 100%
    height 45px
    padding 6px 12px
    box-shadow none
    line-height normal
    border 1px solid #959595
    background-color #FFF
    background-image none
    border-radius 0
    color #373737
}
input:focus, input:hover,
textarea:focus,
textarea:hover {
    border-color #2A7200
    outline none
}
@media (max-width 767px) {
    input,
    textarea {
        width 100%
    }
}

input[type="search"] {
    /* Restoring box-sizing */
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box
}

textarea {
    height auto
}

select {
    max-width 100%
}

input[type="checkbox"],
input[type="radio"] {
    margin 4px 0 0
    margin-top 1px \9
    line-height normal
    width auto
    height auto
}

fieldset {
    margin 0 0 15px
    padding 0
    border none
    min-width 0
}

.ci-select {
    height 45px
    position relative
}
.ci-select:after {
    content ""
    height calc(100% - 2px)
    width 40px
    position absolute
    right 1px
    text-align center
    top 1px
    background-color #FFF
    pointer-events none
}
.ci-select:before {
    font-family FontAwesome
    content "\f107"
    position absolute
    color #FFF
    text-align center
    line-height 33px
    height 33px
    width 33px
    right 6px
    top 6px
    background-color #373737
    z-index 1
    transition background-color 0.18s ease
    pointer-events none
}
.ci-select:hover:before {
    background-color #59c54b
}
.ci-select select {
    opacity 1
    height 100%
    width 100%
    -webkit-appearance none
    -moz-appearance none
    appearance none
    background-color #FFF
    border 1px solid #959595
    border-radius 0
    padding 6px 12px
}
.ci-select select:hover, .ci-select select:focus {
    outline none
}
.ci-select option {
    padding 5px 10px
}

.input-group {
    position relative
}
.input-group input {
    padding-left 50px
}
.input-group .input-label {
    position absolute
    left 1px
    top 1px
    height calc(100% - 2px)
    min-width 40px
    padding 0 12px
    text-align center
    background-color #f8f8f8
    line-height 42px
    color #717171
    border-right 1px solid rgba(0, 0, 0, 0.05)
}
.input-group.input-label-right .input-label {
    left auto
    right 1px
    border-left 1px solid rgba(0, 0, 0, 0.05)
    border-right none
}
.input-group.input-label-right input {
    padding-left 10px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity 1
}

/* Placeholder text color */
::-webkit-input-placeholder {
    color rgba(55, 55, 55, 0.5)
    font-weight normal
    opacity 1
}

:-moz-placeholder {
    color rgba(55, 55, 55, 0.5)
    font-weight normal
    opacity 1
}

::-moz-placeholder {
    color rgba(55, 55, 55, 0.5)
    font-weight normal
    opacity 1
}

:-ms-input-placeholder {
    color rgba(55, 55, 55, 0.5)
    font-weight normal
    opacity 1
}

/* Buttons
=================================== */
.btn, .comment-reply-link,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    display inline-block
    font-weight normal
    margin 0
    line-height normal
    border none
    box-shadow none
    text-align center
    vertical-align middle
    cursor pointer
    white-space nowrap
    transition 0.18s background-color ease, color 0.18s ease, 0.18s border-color ease
    -webkit-user-select none
    -moz-user-select none
    user-select none
    border-radius 0
    width auto
    height auto
    background-image none
    padding 11px 26px
    background-color #59c54b
    color #FFF
    font-size 13px
}
.btn:active, .comment-reply-link:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    outline none
}
.btn:hover, .comment-reply-link:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background #2A7200
    color #FFF
    text-decoration none
}
.btn:focus, .comment-reply-link:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus {
    outline none
}

/* CI-Slider Overrides
=================================== */
.ci-slider {
    margin 0
    padding 0
    box-shadow none
    border-radius 0
    border 0
}
.ci-slider.loading:before {
    width 40px
    height 40px
    background-color #FFF
    border-radius 100%
    -webkit-animation scaleout 1.0s infinite ease-in-out
    animation scaleout 1.0s infinite ease-in-out
    content ""
    position absolute
    right 20px
    top 20px
    z-index 1000
}
.ci-slider .slides li:after {
    content " "
    position absolute
    top 0
    left 0
    z-index -1000
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform scale(0)
    }
    100% {
        -webkit-transform scale(1)
        opacity 0
    }
}
@keyframes scaleout {
    0% {
        transform scale(0)
        -webkit-transform scale(0)
    }
    100% {
        transform scale(1)
        -webkit-transform scale(1)
        opacity 0
    }
}
.ci-direction-nav a {
    top 50%
    opacity 0.7
    line-height normal
}
.ci-direction-nav a:hover {
    color #FFF
    opacity 1
}

.ci-slider .slides > li:first-child {
    display block
    /* Display flexslider's first item no matter if its loading or not */
    -webkit-backface-visibility visible
}

.ci-slider.loading .slides > li:first-child {
    opacity 1 !important
    /* Remove the fade in/out animation when the slider loads */
}

/* Property Form
=================================== */
.property-filters label {
    text-align left
    display block
    text-transform uppercase
    font-size 11px
    margin 0 0 7px
}
.property-filters input,
.property-filters .ci-select {
    margin 0 0 20px
}

input.property-filters-submit {
    width 100%
    margin 22px 0 0
    height 46px
    font-size 14px
    text-transform uppercase
    font-weight bold
    text-shadow -1px 0 0 rgba(0, 0, 0, 0.13)
}

.sidebar .property-filters div[class^="col"],
.footer .property-filters div[class^="col"] {
    float none
    width 100%
}
.sidebar input.property-filters-submit,
.footer input.property-filters-submit {
    margin 0
}

//CLASES
.box-container {
    background-color #EBEBEB
    padding 20px
}

table.property-overview tr {
    padding 10px 0
    display block
    font-size 18px
}

table.property-overview tr th:after {
    content ": "
    padding-right 5px
}

.facebook a{
    color #3b5998
}
.instagram a{
    color #125688
}
.google a{
    color #dd4b39
}
.pinterest a{
    color #cb2027
}
.tumblr a{
    color #32506d
}
.twitter a{
    color #55acee
}
.youtube a{
    color #bb0000
}

#map{
    width 100%
    height 400px
}

/* GALERIA DE IMAGENES */
.grid{
    margin 0 auto
}

.grid-sizer, .grid-item {
    width 12%
    border 4px solid #fff
}

.grid-item img{
    width 100%
}

.grid-item--width2 {
    width 24%
}

//PAGINACION
colorPrincipal = #E07579
colorBorder = #dddddd
colorTextHover = #d95459
backgroundHover = #eeeeee
colorActive = #ffffff
colorDisable = #777777

.pagination > li > a,
.pagination > li > span {
    color colorPrincipal
    border 1px solid colorBorder
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color colorTextHover
    background-color backgroundHover
    border-color colorBorder
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color colorActive
    background-color colorPrincipal
    border-color colorPrincipal
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color colorDisable
    background-color colorActive
    border-color colorBorder
}


//VISIBLE Y HIDDEN

.hidden {
    display none !important
}
.affix {
    position fixed
}
@-ms-viewport {
    width device-width
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display none !important
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display none !important
}
@media (max-width 767px) {
    .visible-xs {
        display block !important
    }
    table.visible-xs {
        display table !important
    }
    tr.visible-xs {
        display table-row !important
    }
    th.visible-xs,
    td.visible-xs {
        display table-cell !important
    }
}
@media (max-width 767px) {
    .visible-xs-block {
        display block !important
    }
}
@media (max-width 767px) {
    .visible-xs-inline {
        display inline !important
    }
}
@media (max-width 767px) {
    .visible-xs-inline-block {
        display inline-block !important
    }
}
@media (min-width 768px) and (max-width 991px) {
    .visible-sm {
        display block !important
    }
    table.visible-sm {
        display table !important
    }
    tr.visible-sm {
        display table-row !important
    }
    th.visible-sm,
    td.visible-sm {
        display table-cell !important
    }
}
@media (min-width 768px) and (max-width 991px) {
    .visible-sm-block {
        display block !important
    }
}
@media (min-width 768px) and (max-width 991px) {
    .visible-sm-inline {
        display inline !important
    }
}
@media (min-width 768px) and (max-width 991px) {
    .visible-sm-inline-block {
        display inline-block !important
    }
}
@media (min-width 992px) and (max-width 1199px) {
    .visible-md {
        display block !important
    }
    table.visible-md {
        display table !important
    }
    tr.visible-md {
        display table-row !important
    }
    th.visible-md,
    td.visible-md {
        display table-cell !important
    }
}
@media (min-width 992px) and (max-width 1199px) {
    .visible-md-block {
        display block !important
    }
}
@media (min-width 992px) and (max-width 1199px) {
    .visible-md-inline {
        display inline !important
    }
}
@media (min-width 992px) and (max-width 1199px) {
    .visible-md-inline-block {
        display inline-block !important
    }
}
@media (min-width 1200px) {
    .visible-lg {
        display block !important
    }
    table.visible-lg {
        display table !important
    }
    tr.visible-lg {
        display table-row !important
    }
    th.visible-lg,
    td.visible-lg {
        display table-cell !important
    }
}
@media (min-width 1200px) {
    .visible-lg-block {
        display block !important
    }
}
@media (min-width 1200px) {
    .visible-lg-inline {
        display inline !important
    }
}
@media (min-width 1200px) {
    .visible-lg-inline-block {
        display inline-block !important
    }
}
@media (max-width 767px) {
    .hidden-xs {
        display none !important
    }
}
@media (min-width 768px) and (max-width 991px) {
    .hidden-sm {
        display none !important
    }
}
@media (min-width 992px) and (max-width 1199px) {
    .hidden-md {
        display none !important
    }
}
@media (min-width 1200px) {
    .hidden-lg {
        display none !important
    }
}
.visible-print {
    display none !important
}
@media print {
    .visible-print {
        display block !important
    }
    table.visible-print {
        display table !important
    }
    tr.visible-print {
        display table-row !important
    }
    th.visible-print,
    td.visible-print {
        display table-cell !important
    }
}
.visible-print-block {
    display none !important
}
@media print {
    .visible-print-block {
        display block !important
    }
}
.visible-print-inline {
    display none !important
}
@media print {
    .visible-print-inline {
        display inline !important
    }
}
.visible-print-inline-block {
    display none !important
}
@media print {
    .visible-print-inline-block {
        display inline-block !important
    }
}
@media print {
    .hidden-print {
        display none !important
    }
}


// RESPONSIVE
//=========================================================================

@media(max-width:1024px){
    input.property-filters-submit{
        font-size 12px
    }

    .item-content{
        padding: 14px 25px 36px;
    }
}

@media(max-width:768px){
    .item-content{
        border-left: 1px solid #ebebeb !important;
    }
}

@media(max-width:480px){

    table.property-overview tr th {
        width 100%
        display block
    }

    table.property-overview tr td {
        width 100%
    }

    .entry-content p{
        font-size 16px
        line-height 150%
    }

    .grid-sizer, .grid-item {
        width 100%
    }

    .grid-item--width2 {
        width 100%
    }

    .g-recaptcha.home{
        transform scale(0.90)
        -webkit-transform scale(0.90)
        transform-origin 0 0
        -webkit-transform-origin 0 0
    }

    .contact-grids{
        margin-bottom 20px
    }

}

.gallery{
    margin-top: 20px;
}

.entry-content p{
    margin-bottom: 15px;
    line-height: 150%;
}


.contact-form{
    margin: 0 auto;
    float: none;
}

.item-content{
    padding: 20px;
}
.item-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
}

.row-grids{
    width 345px
}

.info-contacto {
    padding: 20px 0;
    font-family: Raleway;
}

.info-contacto p{
    color: #000000 !important;
    line-height: 200%;
}

.busqueda{
    font-size: 18px;
    line-height: 190%;
}

.busqueda ul{
    display inline-flex
}

.busqueda li {
    margin: 0 20px 10px 20px;
}

.form-busqueda-content{
    margin: 0 auto;
    float: none;
}

.property-info{
    bottom: 0px;
}

.info-proyecto{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.35em;
}